chromadb
datasets
faiss-cpu
fastapi
fastmcp
httpx
langchain
langchain-classic
langchain-community
langchain-ollama
langchain-openai
langchain-postgres
langfuse
langgraph
langgraph-checkpoint-postgres
langgraph-checkpoint-sqlite
llama-index
llama-index-embeddings-ollama
llama-index-embeddings-openai
llama-index-vector-stores-chroma
llama-parse
mcp[cli]
numpy
pandas
pgvector
psycopg[binary]
pwdlib[bcrypt]
pytest
pytest-cov
python-jose
ruff
scikit-learn
sentence-transformers
uvicorn
